*{
    box-sizing: border-box;
    text-align: left;

   
}

html{
    background-color: hsl(30, 38%, 92%);
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 100px;
}

body{

    height: 450px;
    width: 600px;
    background-color: white;
    margin: auto;
    border-radius: 10px;
    
}

main{

    z-index: 10;
    height: 450;
    width: 300;
    position: relative;
    left: 300px;
    padding-top: 25px;
    padding-left: 25px;
    padding-bottom: 25px;  
    
}

h1{
    font-family: 'Fraunces', serif;
    font-size: 35px;
    width: 220px;
    height: auto;
    text-align: left;
    margin-right: 25px;
    line-height: 1;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: small;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: gray;
    font-weight: lighter;
}

p{
    font-family: 'Montserrat', sans-serif;
    color: gray;
    font-weight: lighter;
    font-size: 13px;
    width: 220px;
    height: auto;
    text-align: left;
    margin-right: 25px;
    line-height: 1.3;

}

.main-image{

    height: 450px;
    width: auto;
    z-index: 0;
    position: absolute;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.prices{

    position: relative;
    top: 15px;
    margin-bottom: 50px;
}

#current-price{
    font-family: 'Fraunces', serif;
    font-size: 30px;
    font-weight: bold;
    color: hsl(158, 36%, 37%);
    
}

#previous-price{
    font-family: 'Montserrat', sans-serif;
    color: gray;
    font-weight: lighter;
    font-size: 13px;
    position: relative;
    top: -10px;
    left: 15px;
    text-decoration-line: line-through;
}
button{
    position: relative;
    background-color: hsl(158, 36%, 37%);
    width: 250px;
    height: 50px;
    border-radius: 5px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: smaller;
    color: white;
    font-weight: normal;
    text-align: center;
    display: block;
    line-height: 0.5;
    cursor:pointer;
}
.add img{
    position: relative;
    right: 10px;
    top: 2px;

}
